<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.listen_to_me.mapper.ConsultOrderMapper">

    <select id="selectUserConsultPage" resultType="com.github.listen_to_me.domain.vo.ConsultOrderVO">
        SELECT
            co.id,
            co.slot_id,
            co.status,
            CASE 
                WHEN co.status IN ('CONFIRMED', 'COMPLETED') THEN cs.address
                ELSE NULL
            END AS address,
            co.creator_id,
            co.message,
            co.create_time,
            cs.start_time,
            cs.end_time,
            cs.price,
            su.nickname AS creator_name,
            su.avatar AS creator_avatar,
            ra.reject_reason AS reject_reason
        FROM consult_order co
        LEFT JOIN consult_slot cs ON co.slot_id = cs.id
        LEFT JOIN sys_user su ON co.creator_id = su.id
        LEFT JOIN refund_apply ra ON co.id = ra.order_id AND ra.status = 'PROCESSED'
        WHERE co.user_id = #{userId}
        <if test="query.status != null and query.status != ''">
            AND co.status = #{query.status}
        </if>
        <if test="query.startTime != null">
            AND cs.start_time >= #{query.startTime}
        </if>
        <if test="query.endTime != null">
            AND cs.start_time &lt;= #{query.endTime}
        </if>
        ORDER BY co.create_time DESC
    </select>

</mapper>
